html, body{
    margin:0px; padding:0;
    padding-left: 15px;
    padding-right: 15px;
    background-color: pink;
} 
img {
    width:200px;
    margin-right: 10px;
}
#container {
    display: flex;
    flex-wrap: wrap;
    background-color: brown
}
#bbx1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    background-color: blueviolet;
}
#bbx2 {
    display: column;
    flex-wrap: wrap;
}
ul {
    list-style-type: none; 
 }
#egentext{
    clear: both;
    background-color: gray;
}
#merinfo {
    background-color: burlywood
}
a {
    text-decoration: none;
}

/*@media all and (max-width: 800px){     /* t ex läsplattor */
   /* html, body{
        background-color: grey;
    }   
}*/
@media only screen and (max-width: 360px){  /* smal skärm = små bilder */
html, body{
    margin:0px; padding:0;
    padding: 0px;
    font-size: 3px;
    background-color: pink;
} 
#box1{
    height: 30%; 
    width: 100%;
    padding: 2px;
    /* display: flex;
     flex-wrap: wrap;*/

    /* flex-direction: column;
     justify-content: space-around; */
     background-color: red;
 }
 #box1 div img {
    width:40px;
   /* float: left;  */
    background-color: blueviolet;
   /* margin-right: 10px;
    margin-top:10px; */
 }
#box1 ul {
    /* width: 25px;*/ 
  /*  display: flex;
    flex-wrap: wrap; */

    background-color: green;
}
#box1 ul li {
    width: 25px;
    list-style-type: none;
}

#egentext{
    clear: both;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: blue;
}
}